.ant-btn {
    // height: 38px !important;
    border-radius: 5px;

    &.ant-btn-circle {
        border-radius: 50% !important;
    }

    &.ant-btn-sm {
        height: 28px !important;
        // padding: 0px 7px 3px 7px !important;
    }

    &.ant-btn-lg {
        padding: .625rem 1.5rem !important;
        height: auto !important;
        font-size: 15px !important;
        font-weight: bold;
    }

    &.ant-btn-primary {
        color: #fff !important;
        background: $primary !important;
        border-color: $primary !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: #fff !important;
            background: $primary-hover !important;
            border-color: $primary-hover !important;
        }
    }

    &.ant-btn-link {
        color: $primary !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: $primary-hover !important;
        }
    }

    &.ant-btn-success {
        color: #fff !important;
        background: $success !important;
        border-color: $success !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: #fff !important;
            background: $success-hover !important;
            border-color: $success-hover !important;
        }
    }

    &.ant-btn-warning {
        color: #fff !important;
        background: $warning !important;
        border-color: $warning !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: #fff !important;
            background: $warning-hover !important;
            border-color: $warning-hover !important;
        }
    }

    &.ant-btn-danger {
        color: #fff !important;
        background: $danger !important;
        border-color: $danger !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: #fff !important;
            background: $danger-hover !important;
            border-color: $danger-hover !important;
        }
    }

    &.ant-btn-info {
        color: #fff !important;
        background: $info !important;
        border-color: $info !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: #fff !important;
            background: $info-hover !important;
            border-color: $info-hover !important;
        }
    }

    &.ant-btn-dark {
        color: #fff !important;
        background: $dark !important;
        border-color: $dark !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: #fff !important;
            background: $dark-hover !important;
            border-color: $dark-hover !important;
        }
    }

    &.ant-btn-secondary {
        color: #fff;
        background: $secondary !important;
        border-color: $secondary !important;
        text-transform: capitalize !important;

        &:hover,
        &:focus {
            color: #fff !important;
            background: $secondary-hover !important;
            border-color: $secondary-hover !important;
        }
    }
}